body {
  background-color: lightyellow;
}

h1 {
  color: yellow;
  margin-left: 20px;
}
#Empresa{
backgroud-color: gray;
}

#Funcionários{
backgroud-color: black;
}

#Contatos{
backgroud-color: grey;
}

#Produto{
backgroud-color: black;
}

a
{
color: black;
}
a:hover {
  color: whitte;
}
